body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px; 
}
header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    float: left;
}
.logo img {
    display: block;
    width: 100px;
    height: auto;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 60px; 
}
h2 {
    text-align: center;
}        
.task {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
.task.completed {
    text-decoration: line-through;
    background-color: #e0e0e0;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}


.logout-button {
    background-color: #f44336; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-button:hover {
    background-color: #e53935;
}

.delete-button {
    background-color: #f44336;
}
.delete-button:hover {
    background-color: #e53935;
}