body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.register-container {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.register-container .logo img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}
.register-container h2 {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.actions {
    margin-top: 20px;
}
.error-message {
    display: none;
    color: red;
    margin-top: 10px;
}
:root {
    --md-sys-color-primary: #006A6A;
}
.sendcode {
    margin-top: 10px;
}
